* { 
	margin: 0; 
	padding: 0; 
}
body, html {
	position: fixed;
  font-family: 'Roboto Condensed', sans-serif, Helvetica, Arial;
  font-size: 1em;
  min-width: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body.has-active-menu {
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #fff; 
}
#wrapper {
/*	border: 2px solid red;*/
	-webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}
#map {
	position: fixed;
	min-width: 100vw;
	min-height: 100vh;
}

#wrapper.has-push-left {
  -webkit-transform: translateX(30vw);
      -ms-transform: translateX(30vw);
          transform: translateX(30vw);
}

input {
		border: none;
}

textarea:focus, input:focus {
    outline: none;
}

input[type="text"] {
	font-size: inherit;
}

.header-nav {
		z-index: 50;
		background-color: #fff;
		position: absolute;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  align-items: center;
	  margin-top: 10px;
	  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	  height: 50px;
	  width: 320px;
	}

#hamburger-menu {
	cursor: pointer;
  position: relative;
	margin-top: -17px;
	margin-left: 20px;
	padding-left: 1.25em;
}

#hamburger-menu:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1em;
  height: 0.125em;
}

.disabler:before {
	border-bottom-color: #9e9e9e;
	border-top-color: #9e9e9e;
	border-top: 0.375em double;
  border-bottom: 0.125em solid;
}

#pac-input {
	margin-left: 15px;
	width: 100%;
}

.menu-push-left,
.menu-slide-left {

}

#my-location {
	position: relative;
	margin-right: 20px;
	cursor: pointer;
}

#my-location:before {
	position: absolute;
}

.fa-location-arrow {
	color: #000;
}

@media only screen and (min-device-width: 768px) {
	.header-nav {
		margin-left: 10px;
	}
	.menu-slide-bottom {
		width: 90vw;
		left: 5vw;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
	.header {
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}
	.header-nav {
		margin-left: 2.5vw;
		width: 95vw;
	}
	.menu-slide-bottom {
		width: 100vw;
		left: 0;
	}
}
/**
 * Menu overview.
 */
#close {
	height: 90px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

#close h3 {
	float: left;
	margin-top: 35px;
	margin-right: 50px;
	margin-left: 10px;
}

.menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  transition: transform 0.3s;
}
.menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}
.menu-slide-left,
.menu-push-left {
	width: 30vw;
  -webkit-overflow-scrolling: touch;
	font-size: 1.2em;
  overflow-y: auto;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-35vw);
  -webkit-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.2);
}

.menu-slide-left img,
.menu-push-left img {
	float: left;
	width: 15%;
	margin-left: 20px;
	margin-top: 15px;
}
.menu-slide-left .menu-item,
.menu-push-left .menu-item {
  display: block;
  text-align: center;
  cursor: pointer;
}

.menu-slide-left .fa-caret-left,
.menu-push-left .fa-caret-left {
	color: #000;
	float: right;
	margin-top: 40px;
	padding-right: 40px;
}

.menu-slide-left .menu-item h4,
.menu-push-left .menu-item h4 {
	display: block;
	height: 60px;
	font-weight: inherit;
	padding-top: 35px;
}

.menu-slide-left .menu-item:hover,
.menu-push-left .menu-item:hover {
	background-color: #e5e5e5;
}
.menu-slide-left .menu-item:first-child,
.menu-push-left .menu-item:first-child {
  border-top: none;
}

.menu-slide-left .menu-item:last-child,
.menu-push-left .menu-item:last-child {
  border-bottom: none;
}
.menu-slide-left .menu-link,
.menu-push-left .menu-link {
  padding: 12px 24px;
  color: #000;
}
.menu-slide-left.is-active,
.menu-push-left.is-active {
  transform: translateX(0);
}

.menu-slide-bottom {
	background-color: #fafafa;
  vertical-align: middle;
/*  width: 90vw;*/
  height: 85vh;
  text-align: center;
  overflow-x: scroll;
  bottom: 0;
/*	left: 5vw;*/
  -webkit-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.2);
  transform: translateY(86vh);
  overflow-y: visible;
}

.menu-slide-bottom #close {
	display: none;
}

.fotorama-wrapper {
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

#fotorama {
	background-color: #000;
}

.menu-slide-bottom .menu-items{
  display: inline-block;
  text-align: center;
}
.menu-slide-bottom .menu-item {
  display: inline-block;
  line-height: 60px;
}
.menu-slide-bottom .menu-link {
  display: block;
  padding: 0 4px;
  color: #fff;
}
.menu-slide-bottom.is-active {
  transform: translateY(0);
}


/*Info box*/

.card {
  margin: 0;
  position: relative;
  border-radius: 0;
  overflow: hidden;
  background-color: #fff;
  height: 35%;
  width: 100%;
	-webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2);
}

.card__title {
  font-size: 2em;
  color: #000;
  margin: 0;
  left: 0;
  right: 0;
  font-weight: 400;
}
.card__subtitle {
  font-size: 1em;
  display: block;
  color: #000;
  left: 88px;
  right: 0;
  top: 45px;
  padding: 0 16px;
}
.card__text {
  font-size: 1.2em;
  display: block;
  left: 0;
  right: 0;
  top: 100px;
  padding: 16px;
  margin: 0;
  line-height: 1.6;
  color: #000;
}
.card__action-bar {
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  padding: 0 8px;
  border-top: 1px solid #E0E0E0;
  height: 52px;
}

.card--big {
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
  height: 304px;
  min-height: 304px;
}

.card--big .card__title {
  top: 135px;
}
.card--big .card__text {
  top: 176px;
}
.card--big .card__action-bar {
  left: 0;
}